body{
    
}
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
  }

  li,a,button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
  }

  header{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 30px 10%;
  }

h1{
    padding-right:10% ;
    margin-right: auto;
    color: orangered;

}
h1:hover{
    color: rebeccapurple;
}
  
  .logo{
    cursor: pointer;
    margin-right: auto;
    width: 7%;

  }
  .nav-links{
    list-style: none;

  }

  .nav-links li {
    display: inline-block;
    padding: 0 20px ;
  }

  .nav-links li a {
    transition: all 0.3s ease 0s;
  }

  .nav-links li a:hover {
    color: #0088a9;
  }
  button{
    margin-left: 20px;
    padding: 9px 25px ;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 50px;
    cursor:pointer ;
    transition: all 0.3s ease 0s;
  }

  button:hover{
    background-color: rgba(0, 136, 169, 0.8);

  }
 body {
    background-color:#F48484;
  }
  header{
    background-color: #24252A;
  }