<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peetari</title>

    <link rel="shortcut icon" href="public/img/logo.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/style.css">
    <!-- Icon -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <!-- BOOTSTRAP CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    
</head>

<body>

<!-- navbar -->

    <div class="nav-container">
        <div class="nav-elements">
            <a href="#about">About</a>
            <a href="#donate">Project</a>
            <a href="#contact">Contact Me</a>
            <a href="/admin_login">Admin</a>
            <a href="/Ngo_login">NGO</a>
            <a href="/user_login">Login</a>
        </div>
       </div>

   <div class="container">
        <div class="bg-container">
            <img  class="bgii"  src="public\img\BackGround.png" alt="images">
        </div>
   </div>
   
   <div>
    <div class="donate-food" id="donate">
        <a href="">DONATE FOOD</a>
    </div>
   </div>

   <!-- about section -->


   <div class="about" id="about">
    <img src="public\img\about.png" alt="about">
   </div>


            <!-- contact section start -->
            <section class="contact" id="contact">
                <div class="max-width">
                    <h2 class="title" id="contact-me">Contact me</h2>
                    <div class="contact-content">
                        <div class="column left">
                            <div class="text">Get in Touch</div>
                            <p>Thank you for visiting to petari. Connect with me over socials.
                                <br>
                                Please wait for a while all major projects will be listed soon. Till then keep visiting.
                                Connect with me over live chat!
                            </p>
                            <br>
                            <br>
                            <div class="icons">
                                <div class="row">
                                    <i class="fas fa-user"></i>
                                    <div class="info">
                                        <div class="head">Name</div>
                                        <div class="sub-title">Sahil
                                            Hossain</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <div class="info">
                                        <div class="head">Address</div>
                                        <div class="sub-title">Nalhati, West Bengal</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <i class="fas fa-envelope"></i>
                                    <div class="info">
                                        <div class="head">Email</div>
                                        <div class="sub-title">sahilkaitha@gmail.com</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column right">
                            <div class="text">Message me</div>
                            <form action="/" method="POST"">
                    <div class=" fields">
                                <div class="field name">
                                    <input type="text"  name ="Fname" placeholder="Name" required>
                                </div>
                                <div class="field email">
                                    <input type="email" name="Email"  placeholder="Email" required>
                                </div>
                        </div>
                        <div class="field">
                            <input type="text" name="sub" placeholder="Subject" required>
                        </div>
                        <div class="field textarea">
                            <textarea cols="30" rows="10"  name="sms" placeholder="Message.." required></textarea>
                        </div>
                        <div class="button-area">

                            <button type="submit"  id ="home">Send </button>
                        </div>
                        </form>
                    </div>
                </div>
                </div>
            </section>




            <!-- footer section start -->

        </section>

    </main>

    <footer>
        <div class="social-2" id="Social">
            <a href="https://twitter.com/SAHILHO07860949" target="blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/sahil-hossain-b14164188/" target="blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/captain123sahil/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://instagram.com/x_captain_sahil" target="blank"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/Sahil1786" target="blank"><i class="fab fa-github"></i></a>
        </div>
        <br>
        <span>Created By <a href="https://sahil1786.github.io/My-Portfolio/" target="_blank" style="text-decoration: none;">Sahil Hossain</a> | <span class="far fa-copyright"></span> 2023 All rights reserved.</span>
    </footer>
    
      </script>


    <script src="index.js"></script>
</body>

</html>