<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petari</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="public/img/logo.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/style.css">
    <!-- Icon -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- BOOTSTRAP CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
        <script src="https://cdn.lordicon.com/lordicon.js"></script>
<style>
      p.intro{
        margin:10px;
        
      }
      h1.about{
        top:100px;
        margin:35px;
      }
      h1.author{
        margin:2px;
      }
      .card-text{
        font-family: 'Libre Baskerville', serif;
      }
      .card-text2{
        font-family:  'Libre Baskerville', serif;
      }
      .text{
        font-family:  'Libre Baskerville', serif;
      }
      .p{
        font-family:  'Libre Baskerville', serif;
      }
      .intro{
        color:green;
      }
    </style> 
</head>

<body>
    <!-- navgation bar -->
    <header>
        <nav class="navbar navbar-expand-lg bg-body-secondary  fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand fs-1 fw-bold text-success ms-5" href="#">
                    <img src="img/logo.png" alt="Logo" width="60" height="60" class="d-inline-flex align-text-center img-fluid">
                    Petari 
                </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <div class="navbar-nav gap-3 text-center">
                    <a href="#" class="nav-link d-flex gap-2"><lord-icon
                                                    src="https://cdn.lordicon.com/wmwqvixz.json"
                                                    trigger="hover"
                                                    style="width:20px;height:20px">
                                                </lord-icon>  Home</a>
                    <a href="#" class="nav-link d-flex gap-2"><lord-icon
                                                    src="https://cdn.lordicon.com/jnzhohhs.json"
                                                    trigger="hover"
                                                    style="width:20px;height:20px">
                                                </lord-icon> About</a>
                    <a href="#" class="nav-link d-flex gap-2"><lord-icon
                                                    src="https://cdn.lordicon.com/xljvqlng.json"
                                                    trigger="hover"
                                                    style="width:20px;height:20px">
                                                </lord-icon>  Projects</a>
                    <a href="#" class="nav-link d-flex gap-2"><lord-icon
                                                    src="https://cdn.lordicon.com/srsgifqc.json"
                                                    trigger="hover"
                                                    style="width:20px;height:20px">
                                                </lord-icon> Contact</a>
                    <a href="/admin_login" class="btn btn-success">Admin</a>
                    <a href="/Ngo_login" class="btn btn-secondary">NGO</a>
                    <a href="/user_login" class="btn btn-primary">Login</a>
                </div>
            </div>
            
            </div>
          </nav>

    </header>
     <div><h1 class="about" style="font-family: 'Times New Roman', Times, serif;" align="center"><b>About Us</b></h1></div>
      
      
      <div>
        <img src="Quotefancy-4099-3840x2160.jpg" alt="quote" width="1200px;" height="379px;">
      </div>
          
        

      <!--3 cards for describing vision , approach and process-->
      <div class="card mb-3" style="max-width: 1200px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="vision.png" class="img-fluid rounded-start" alt="basket of milk bottles and fruits">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title" style="font-family: 'Times New Roman', Times, serif;"><b>Our Vision</b></h3>
              <p class="card-text">PETARI envisions a world where hunger is eradicated and food waste is nonexistent. By strategically redistributing surplus food from events to people in need, PETARI addresses both food insecurity and environmental sustainability. This initiative aims to significantly reduce hunger by providing nutritious meals to underserved communities while simultaneously cutting down on the waste generated by events. Through these efforts, PETARI fosters a more equitable society where resources are managed responsibly, and everyone has access to adequate nutrition. By bridging the gap between excess and need, PETARI contributes to a more sustainable, just, and compassionate world for all.</p>
              <p class="card-text"><small class="text-body-secondary"></small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 1200px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="approach2.png" class="img-fluid rounded-start" alt="SDG">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title" style="font-family: 'Times New Roman', Times, serif;"><b>Our Approach</b></h3>
              <p class="card-text">PETARI's approach is grounded in leveraging technology and community engagement to combat hunger and food waste. We align our efforts with India's Sustainable Development Goals, focusing on the following key strategies:</p>
              <p class="card-text2" style="font-family: 'Libre Baskerville', serif;"><ul><li><b>Redistribution</b>: Collecting excess food from weddings, parties, and events to distribute to those in need.</li>
              <li><b>Sustainability</b> Reducing the environmental impact of food waste by lowering greenhouse gas emissions and conserving natural resources.</li>
            <li><b>Awareness and Education</b>: Promoting social change by educating individuals and communities about the importance of reducing food waste and supporting hunger relief initiatives.</li></ul></p>
              <p class="card-text"><small class="text-body-secondary"></small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 1200px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="process2.png" class="img-fluid rounded-start" alt="people distributing food to poor people">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title" style="font-family: 'Times New Roman', Times, serif;"><b>Our Process</b></h3>
              <p class="card-text">PETARI envisions a world where no one goes hungry and no food goes to waste. By redistributing excess food from events to those in need, PETARI aims to make a significant impact on reducing hunger and food waste, contributing to a more sustainable and equitable society.</p>
              <p class="card-text2"><ul><li><b>Collection</b>: Partnering with event organizers, caterers, and individuals to gather surplus food from various events.</li><li>
                <b>Distribution</b>: Coordinating with local charities, shelters, and food banks to distribute the food to those in need.
              </li><li><b>Monitoring and Feedback</b>: Continuously monitoring the impact of our efforts and gathering feedback to improve our processes.</li></ul></p>
              <p class="card-text"><small class="text-body-secondary"></small></p>
            </div>
          </div>
        </div>
      </div>



            <!-- contact section start -->
            <section class="contact" id="contact">
                <div class="max-width">
                    <h2 class="title">Contact me</h2>
                    <div class="contact-content">
                        <div class="column left">
                            <div class="text">Get in Touch</div>
                            <p>Thank you for visiting to petari. Connect with me over socials.
                                <br>
                                Please wait for a while all major projects will be listed soon. Till then keep visiting.
                                Connect with me over live chat!
                            </p>
                            <br>
                            <br>
                            <div class="icons">
                                <div class="row">
                                    <i class="fas fa-user"></i>
                                    <div class="info">
                                        <div class="head">Name</div>
                                        <div class="sub-title">Sahil
                                            Hossain</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <div class="info">
                                        <div class="head">Address</div>
                                        <div class="sub-title">Nalhati, West Bengal</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <i class="fas fa-envelope"></i>
                                    <div class="info">
                                        <div class="head">Email</div>
                                        <div class="sub-title">sahilkaitha@gmail.com</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column right">
                            <div class="text">Message me</div>
                            <form action="/" method="POST"">
                    <div class=" fields">
                                <div class="field name">
                                    <input type="text" name="Fname" placeholder="Name" required>
                                </div>
                                <div class="field email">
                                    <input type="email" name="Email" placeholder="Email" required>
                                </div>
                        </div>
                        <div class="field">
                            <input type="text" name="sub" placeholder="Subject" required>
                        </div>
                        <div class="field textarea">
                            <textarea cols="30" rows="10" name="sms" placeholder="Message.." required></textarea>
                        </div>
                        <div class="button-area">

                            <button type="submit" id="home">Send </button>
                        </div>
                        </form>
                    </div>
                </div>
                </div>
            </section>



            <!-- footer section start -->

        </section>



    </main>






    <footer>
        <div class="social-2" id="Social">
            <a href="https://twitter.com/SAHILHO07860949" target="blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/sahil-hossain-b14164188/" target="blank"><i
                    class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/captain123sahil/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://instagram.com/x_captain_sahil" target="blank"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/Sahil1786" target="blank"><i class="fab fa-github"></i></a>
        </div>
        <br>
        <span>Created By <a href="https://sahil1786.github.io/My-Portfolio/" target="_blank"
                style="text-decoration: none;">Sahil Hossain</a> | <span class="far fa-copyright"></span> 2023 All
            rights reserved.</span>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
    const hamburgerMenu = document.querySelector('.hamburger-menu');
    const navLinks = document.querySelector('.nav-links');

    hamburgerMenu.addEventListener('click', function () {
        navLinks.classList.toggle('active');
    });
});

    </script>


    <script src="index.JS"></script>
</body>

</html>
