<!-- views/reset-password.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f8f9fa;
            color: #38475a;
            text-align: center;
            padding: 20px;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 10px;
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #106fde;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        a:hover {
            background-color: #0c5aa5;
        }

        .footer {
            margin-top: 20px;
            color: #6c757d;
        }
    </style>
    <title>Password Reset</title>
</head>
<body>
    <img src="cid:logo" alt="Petari Logo">
    <p>Hello <strong>{{user.fname}}</strong>,</p>
    <p>You have requested to reset your password. Click on the link below to reset your password:</p>
    <a href="{{resetLink}}" style="color: #fff;">Reset Password</a>
    <p>If you did not request a password reset, please ignore this email.</p>
    <div class="footer">
        <p>Thanks,</p>
        <p>The Petari Team</p>
    </div>
</body>
</html>
