<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Successful</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .jumbotron {
            background: linear-gradient(135deg, #6f42c1 0%, #007bff 100%);
            color: white;
            text-align: center;
            padding: 2rem 1rem;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
        }
        .jumbotron h1 {
            font-size: 3rem;
            font-weight: 700;
        }
        .jumbotron p {
            font-size: 1.25rem;
            margin-bottom: 2rem;
        }
        .btn-custom {
            background-color: #28a745;
            color: white;
            font-size: 1.2rem;
            padding: 0.75rem 1.5rem;
            border-radius: 50px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .btn-custom:hover {
            background-color: #218838;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Awesome!</h1>
            <p>You've been successfully signed up to Petari. We are thankful to have you with us!
              We will Review and Approve your Registration Soon!!!
            </p>
            <a href="/" class="btn btn-custom">Go to Homepage</a>
        </div>
    </div>

    <script src="js/index.js"></script>
</body>
</html>
