<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- //css link -->
    <link rel="stylesheet" href="css/user.dashboard.css">


    <!-- //icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <title>user DashBoard</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-img">
                <img src="img/logo.png" alt="logo">
            </div>
            <span class="logo_name">Petari</span>
        </div>
        <div class="manu-items">
            <ul class="nav-links">
                <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">DashBoard</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-restaurant"></i>
                    <span class="link-name">Donate</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-map-marker-question"></i>
                    <span class="link-name">Track</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">DashBoard</span>
                </a></li>
            </ul>
            <ul class="logout-mode">
                <li>
                    <a href="#">
                        <i class="uil uil-sign-out-alt"></i>
                        <span class="link-name">Logout</span>
                    </a>
               
                </li>

                <li>
                    <a href="#">
                        <i class="uil uil-wind-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>
               
                </li>
            </ul>
        </div>
       
    </nav>
</body>
</html>