<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- //css link -->
    <link rel="stylesheet" href="css/user.dashboard.css">


    <!-- //icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <title>user DashBoard</title>
</head>
<body>
    <!-- Adityas Start -->    
    
    <section class="dashboard">
    <div class="top">
        <i class="uil uil-bars"></i>
        <div class="dash">DashBoard</div>
        <div class="Left-name">Sahil Hossain</div>
        <hr class="top-border">

    </div>
    <div class="middle">
        <div class="Donatebox">
            <div class="NAME-block">
                <h4  class="User-Name">Full Name:     Sahil Hossain </h4>
                <h4 class="User-Email">Email:     Sahilkaitha@gmail.com </h4>
                <h4 class="User-Phone">Phone No:   9635955320</h4>
                <h4 class="User-Adderss">Address:    kolkata , West bengal </h4>
            </div>
        </div>
    </div>
    
</section>


    
    <!-- Adityas end -->
    <nav>
        <div class="logo-name">
            <div class="logo-img">
                <img src="img/logo.png" alt="logo">
            </div>
            <span class="logo_name">Petari</span>
        </div>
        <div class="manu-items">
            <ul class="nav-links">
                <li><a href="#">
                    <!-- <i class="uil uil-estate"></i> -->
                    <i class="uil uil-user-circle"></i>
                    <span class="link-name">Profile</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-restaurant"></i>
                    <span class="link-name">Donate</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-map-marker-question"></i>
                    <span class="link-name">Track</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-comment-medical"></i>
                    <span class="link-name">Contact Us</span>
                </a></li>
            </ul>
            <ul class="logout-mode">
                <li>
                    <a href="/logout">
                        <i class="uil uil-sign-out-alt"></i>
                        <span class="link-name">Logout</span>
                    </a>
               
                </li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-wind-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>
                    <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
               
                </li>
            </ul>
        </div>
       
    </nav>



    <script src="/js/user.dashbord.js"></script>
</body>
</html>