@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body{
    scroll-behavior: smooth;
}
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  .logo_name{
    font-family: 'Poppins', sans-serif;
    margin-right: 270px;
    font-weight: 700;
    color:rgb(0, 255, 64);
    font-size: 45px;
    transition: all 0.3s;
    margin-top: 12px !important;
    cursor: pointer;
  }
  .logo_name:hover{
    color: rgb(255, 0, 98);
  }
  
  .logo{
    margin-left: 22px;
    width: 80px;
  }
 body {
    background-color:#ECF2FF;
  }  

/* landing section */
.hero{
    height: 100vh;
    display: flex;
    align-items: center;
}
.hero_text{
    color: #353535;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 5px;
    margin-left: 150px;
}
.hero_text2{
    color: #353535;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 70px;
    margin-left: 150px;
}
.hero_text3{
    color: #353535;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-left: 150px;
}
.hero_img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: 80px;
    margin-bottom: 40px;
}
.hero_btn{
    margin-left: 150px;
    font-size: 20px;
    padding: 9px 25px ;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 50px;
    border: none;
    cursor:pointer ;
    margin-top: 10px;
    transition: all 0.3s ease 0s;
    margin-bottom: 40px;
}
/* about section */
.about{
    font-family: 'Poppins', sans-serif;
    display: flex;
    padding: 20px;
}
.hero2_img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: 80px;
}
.about-txt{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 70px;
}
#more {display: none;}
#myBtn {cursor: pointer;}


/* contact section */
.contact{
    font-family: 'Poppins', sans-serif;
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 500px;
    justify-content: center;
}
.contact1{
    display: block;
    margin-top: 70px;
    font-size:medium;
}
.contact2{
    margin-top: 70px;
    width: 400px;
}
.address-info{
    display: block;
}
/* all similar content styling codes */
/* section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about,  .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,

.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
/* section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
} */
/* section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size:15px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}
 */ 


/* about section styling */
/* .about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
} */


/* contact section styling */
/* .contact .title::after{
    content: "Get In Touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
} */





/* footer section styling */
footer{
    background: #353535;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
   
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}



#texts{
    color: green;
}
.text{
    color: #eb29c1; ;
}

body{
    margin-bottom: 0;
}


#contact {
    margin-bottom: 50px; /* Adjust the value as needed */
}
@media (min-width: 768px) {
    #myBtn { display: none; }
    #dots { display: none; }
    #more { display: inline; } 
}
@media (max-width: 768px) {
    .hero{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 120px;
    }
    .hero_img{
        width: 300px;
        height: 300px;
        margin-left: 0px;
    }
    .left{
       display: none;
    }
    .hero_text{
        margin-left: auto;
    }
    .hero_text2{
        margin-left: auto;
    }
    .hero_text3{
        margin-left: auto;
    }
    .hero_btn{
        margin-left: auto;
    }
    /* about section */
    .abt-txt{
        margin-top: 20px;
    }
    .about{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .hero2_img{
        width: 280px;
        height: 280px;
        margin-left: 0px;
    }
    .about-txt{
        margin-left: auto;
        font-size:17px;
        margin-top: 0px;
    }
    /* contact section */
    .contact{
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .con-txt{
        margin-top: 20px;
    }
    .contact2{
        width: 350px;
    }
}
