@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.logo_name {
    font-family: 'Poppins', sans-serif;
    margin-right: 270px;
    font-weight: 700;
    color: rgb(0, 255, 64);
    font-size: 45px;
    transition: all 0.3s;
    margin-top: 12px !important;
    cursor: pointer;
}

.logo_name:hover {
    color: rgb(255, 0, 98);
}

.logo {
    margin-left: 22px;
    width: 80px;
}

body {
    background-color: #ECF2FF;
}

.top-header {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* <!-- HOME PAGE IMAGE SECTION --> */
.navbar-nav .nav-opt {
    color: black;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 8px 18px;
    font-size: 14px;
    text-decoration: none;
}

.navbar-nav .nav-opt:hover{
    background-color: #198754; /* Change background color on hover */
    color: white; /* Change text color on hover */
    border-color: #198754; /* Change border color on hover */
}

.owl-carousel {
    overflow: hidden;
    width: 100%;
    height: 95vh;
}

.owl-carousel .item {
    width: 100%;
    height: 100%;
    position: relative;
}

.owl-carousel .item img {
    width: 100%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.owl-carousel .item .container-1 {
    position: absolute;
    top: 40%;
    width: 100%;
}

.owl-carousel .item .container-1 .row {
    display: flex;
    align-items: center;
    justify-content: center;

}

@media (max-width: 1200px) {
    .owl-carousel .item img {
        height: 100%;
    }
}


/* ABOUT CSS */
.about-us {
    background-color: #edf1f5;
    padding: 50px;
}

@media screen and (max-width: 940px) {
    .about-us {
        padding: 30px 10px;
    }
}

.about-us .natur-row {
    margin-top: 20px;
}

.about-us .text-part h2 {
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.about-us .text-part p {
    text-indent: 20px;
    margin-bottom: 15px;
    line-height: 27px;
    font-weight: 500;
    text-align: justify;
    font-size: .9rem;
}

.about-us .image-part .about-quick-box .about-qcard {
    padding: 50px 30px;
    background-color: #FFF;
    box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35);
    border-radius: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.about-us .image-part .about-quick-box .about-qcard p {
    font-weight: 600;
    font-size: 1.2rem;
}

.about-us .image-part .about-quick-box .about-qcard i {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #3cc88f;
}

.about-us .image-part .about-quick-box .about-qcard .red {
    color: #ff6b70;
}

.about-us .image-part .about-quick-box .about-qcard .yell {
    color: #f7a900;
}

.about-us .image-part .about-quick-box .about-qcard .blu {
    color: #21d7d9;
}


/* OUT VISION AND MISSION */
.our-mission {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-mission>img {
    width: 90%;
    max-height: 100%;
}


/* OUR ACHIEVEMTNS SECTION */
.doctor-message {
    background-image: url("../img/slider-2.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.doctor-message .session-title h2 {
    color: #FFF;
}

.doctor-message .inner-lay {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;
    color: #FFF;
}

.doctor-message .inner-lay .container .session-title {
    text-align: center;
}

@media screen and (max-width: 940px) {
    .doctor-message .inner-lay {
        padding: 30px 10px;
    }
}

.doctor-message .inner-lay .numb {
    text-align: center;
    padding: 30px;
}

.doctor-message .inner-lay .numb h3 {
    font-size: 42px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
    color: #FFF;
}


/* contact section */
.contact-section {
    padding: 10px 80px 80px 80px;
}

.contact-section-header {
    text-align: center;
}

.contact-section .contact-container {
    width: 100%;
}

.contact-section .left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-section .left img {
    max-height: 100%;
    max-width: 100%;
}

.contact-section .right .field input,
.contact-section .right textarea {
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 7px;
    font-size: 15px;
    margin: 7px;
    width: 70%;
}

.contact-section .right .btn {
    margin-left: 10px;
}

@media(max-width: 1200px) {
    .contact-section .right .field input,
    .contact-section .right textarea {
        width: 80%;
    }
}


/* FOOTER SECTION */
.copy {
    padding: 20px;
    background: #1a202f;
    color: #FFF;
}

.copy a {
    color: #FFF;
}

.copy span {
    float: right;
}

.copy span i {
    margin-right: 20px;
}


/* about section */
.about {
    font-family: 'Poppins', sans-serif;
    display: flex;
    padding: 20px;
}

.hero2_img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: 80px;
}

.about-txt {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 70px;
}

#more {
    display: none;
}

#myBtn {
    cursor: pointer;
}