@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.logo_name {
    font-family: 'Poppins', sans-serif;
    margin-right: 270px;
    font-weight: 700;
    color: rgb(0, 255, 64);
    font-size: 45px;
    transition: all 0.3s;
    margin-top: 12px !important;
    cursor: pointer;
}

.logo_name:hover {
    color: rgb(255, 0, 98);
}

.logo {
    margin-left: 22px;
    width: 80px;
}

body {
    background-color: #ECF2FF;
}

.top-header {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* <!-- HOME PAGE IMAGE SECTION --> */
.navbar-nav .nav-opt {
    color: black;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 8px 18px;
    font-size: 14px;
    text-decoration: none;
}

.navbar-nav .nav-opt:hover {
    background-color: #198754;
    /* Change background color on hover */
    color: white;
    /* Change text color on hover */
    border-color: #198754;
    /* Change border color on hover */
}

.owl-carousel {
    overflow: hidden;
    width: 100%;
    height: 95vh;
}

.owl-carousel .item {
    width: 100%;
    height: 100%;
    position: relative;
}

.owl-carousel .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .owl-carousel .item img {
        height: 100%;
    }
}


/* ABOUT CSS */
.about-us {
    background-color: #edf1f5;
    padding: 50px;
}

@media screen and (max-width: 940px) {
    .about-us {
        padding: 30px 10px;
    }
}

.about-us .natur-row {
    margin-top: 20px;
}

.about-us .text-part h2 {
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.about-us .text-part p {
    text-indent: 20px;
    margin-bottom: 15px;
    line-height: 27px;
    font-weight: 500;
    text-align: justify;
    font-size: .9rem;
}

.about-us .image-part .about-quick-box .about-qcard {
    padding: 50px 30px;
    background-color: #FFF;
    box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35);
    border-radius: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.about-us .image-part .about-quick-box .about-qcard p {
    font-weight: 600;
    font-size: 1.2rem;
}

.about-us .image-part .about-quick-box .about-qcard i {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #3cc88f;
}

.about-us .image-part .about-quick-box .about-qcard .red {
    color: #ff6b70;
}

.about-us .image-part .about-quick-box .about-qcard .yell {
    color: #f7a900;
}

.about-us .image-part .about-quick-box .about-qcard .blu {
    color: #21d7d9;
}


/* OUT VISION AND MISSION */
.our-mission {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-mission>img {
    width: 90%;
    max-height: 100%;
}


/* OUR ACHIEVEMTNS SECTION */
.doctor-message {
    background-image: url("../img/slider-2.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.doctor-message .session-title h2 {
    color: #FFF;
}

.doctor-message .inner-lay {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;
    color: #FFF;
}

.doctor-message .inner-lay .container .session-title {
    text-align: center;
}

@media screen and (max-width: 940px) {
    .doctor-message .inner-lay {
        padding: 30px 10px;
    }
}

.doctor-message .inner-lay .numb {
    text-align: center;
    padding: 30px;
}

.doctor-message .inner-lay .numb h3 {
    font-size: 42px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
    color: #FFF;
}


/* contact section */

.contact-header {
    text-align: center;
    width: 100%;
    color: #000;
    animation: fadeIn 2s ease-in-out;
}

.contact-header h2 {
    font-size: 36px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: slideIn 1.5s ease-out;
}

.contact-header p {
    font-size: 20px;
    color: #000;
    line-height: 1.5;
    animation: fadeInUp 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.contact-body {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
}

.contact-body .left {
    flex: 1.8;
    padding-left: 50px;
    padding-top: 60px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-body .left img {
    width: 100%;
    height: auto;
    max-width: 750px;
}

.contact-body .right {
    flex: 1;
    padding: 80px 30px 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-body .right form {
    width: 100%;
    margin-left: -175px;
    margin-top: 0px;
    max-width: 600px;
    background: #fff;
    padding: 55px 45px 20px 45px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-body .right .text {
    font-size: 28px;
    font-weight: bold;
    margin-top: -3px;
    /* margin-bottom:0px; */
    color: #333;
    text-align: center;
}

.contact-body .right .fields .field {
    margin-bottom: 20px;
}

.contact-body .right .fields .field input,
.contact-body .right .fields .field textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    background-color: transparent;
    transition: border-color 0.3s;
}

.contact-body .right .fields .field input:focus,
.contact-body .right .fields .field textarea:focus {
    border-bottom: 2px solid #198754;
    outline: none;
    box-shadow: none;
}

.contact-body .right .button-area {
    text-align: center;
    margin-top: 10px;
}

.contact-body .right .button-area button {
    background-color: #198754;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    outline-color: #198754;
    font-size: 16px;
    transition: background-color 0.3s;
}

.contact-body .right .button-area button:hover {
    background-color: #2fa97a;
}

/* Media Query for Mobile View */
@media (max-width: 768px) {
    .contact-body {
        flex-direction: column;
        height: auto;
    }

    .contact-body .left {
        flex: none;
        padding: 20px;
        order: 1;
    }

    .contact-body .right {
        flex: none;
        padding: 20px;
        order: 2;
    }

    .contact-body .right form {
        margin-left: 0;
        padding: 20px;
    }

    .contact-header h2 {
        font-size: 28px;
    }

    .contact-header p {
        font-size: 16px;
    }
}


/* FOOTER SECTION */
.copy {
    padding: 20px;
    background: #1a202f;
    color: #FFF;
}

.copy a {
    color: #FFF;
}

.copy span {
    float: right;
}

.copy span i {
    margin-right: 20px;
}


/* about section */
.about {
    font-family: 'Poppins', sans-serif;
    display: flex;
    padding: 20px;
}

.hero2_img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: 80px;
}

.about-txt {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 70px;
}

#more {
    display: none;
}

#myBtn {
    cursor: pointer;
}